<% if (title) { %>
    <h1><%= title %> </h1>
    <% } else {
    } %>
    <%- messages() %>
    <h3> Welcome <%- locals.accountData %> </h3>
    
    <p>You are logged in </p>

    <a href="/account/update">Edit Account Information </a>



