<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    } %>
    <%- messages() %>
    <ul>
        <li><a href="/inventory/newClass" title="Click to add a new classification">Add new classification</a></li>
        <li><a href="/inventory/newCar" title="Click to add a new vehicle">Add new vehicle</a></li>
    </ul>
    <h2>Manage inventory</h2>
    <p>Choose a classification to see those inventory items.</p>
    <select name="classification_id" id="" required>
        <option value=""> --Select an option -- </option>
        <option name="Custom" value="1">Custom</option>
        <option name="Sport" value="2">Sport</option>
        <option name="SUV" value="3">SUV</option>
        <option name="Truck" value="4">Truck</option>
        <option name="Sedan" value="5">Sedan</option>
        <option name="NewClass" value="7">NewClass</option>
    </select>

    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>

    <noscript>Javascript must be enabled to use this page</noscript>

    <script src="../../public/js/inventory.js"></script>
    <!-- <h2>You´re logged in </h2> -->



