

<main>
    <h1>Welcome to CSE Motors!</h1> 
    <!-- <%- messages() %>  -->
    <!-- heroe image  -->
<section id="hero-img">
    <div class="image">
    <img class="delorean" src="/images/vehicles/delorean.jpg" alt="delorean-image">
    </div>
    <div class="offer">
        <h2 class="delorean_title">DMC Delorean</h2>
        <h3 class="delorean_text">
            3 cup holders 
            <br> 
            Superman doors 
            <br> 
            Fuzzy dice!
        </h3>
        <img class="button_delorean" src="/images/site/own_today.png" alt="own-today button">
    </div>
</section>

<section id="text-body">
    <div class="upgrades_box">
        <h2 class="title">Delorean Upgrades</h2>
        <div class="cards">
            <div class="first-line">
        <div class="card" >
            <div  class="upgrades">
            <img src="/images/upgrades/flux-cap.png" alt="flux-cap-image" width="90px" height="90px">
            </div>
            <a href="">Flux Capacitor</a>
        </div>
        <br>
        <div class="card">
            <div  class="upgrades">
            <img src="/images/upgrades/flame.jpg" alt="Flame-Decais-image" width="90px" height="90px">
        </div>
            <a href="">Flame Decais</a>
        </div>
    </div>

    <div class="second-line">
        <div class="card" >
            <div  class="upgrades">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker_photo" width="90px" height="90px">
            </div>
            <a href="">Bumper Stickers</a>
        </div>
        <br>
        <div class="card">
        <div class="upgrades">
            <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap-image" width="90px" height="90px">
        </div>
            <a href="">Hub Caps</a>
        </div>
    </div>
    </div>
    </div>
    <!-- ---- -->
    <div class="list_dmc">
        <h2 class="title">DMC Delorean Reviews</h2>
        <div class="list">
        <p>
            •"So fast it´s almost like traveling in time" (4/5) 
            <br> 
            <br> 
            •"Coolest ride on the road" (4/5)" 
            <br> 
            <br> 
            •"I´m feeling McFly" (5/5) 
            <br> 
            <br> 
            •"The most futuristic ride of our day" 
            <br>
            <br> 
            •"80´s living and I love it!" (5/5)" </p>
        </div>
        <div>

        </div>
    </div>
</section>

</main>