<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {        
    } %>
    <a href="/inv/NewClassification">Add New Classification</a>
    <a href="/inv/NewVehicle">Add New Vehicle</a>

    <h2>Manage inventory</h2>
    <p>Choose a classification to see those inventory items.</p>
    <%- classificationSelect %>

    <table id="inventoryDisplay"></table>

    <noscript>Javascript must be enabled to use this page</noscript>

    <script src="../../js/inventory.js"></script>
    <!-- <h2>You´re logged in </h2> -->